---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import CategoryBar from "../components/CategoryBar.astro";
import SEOcontent from "../components/SEOcontent.astro";
import OpinionSlider from "../components/OpinionSlider.astro";
import BlackBar from "../components/BlackBar.astro";
import Higlihts from "../components/Higlithts.astro";
import Lastest from "../components/Lastest.astro";
import DownCategoryBox from "../components/DownCategoryBox.astro";
import NewsLetter from "../components/NewsLetter.astro";
import InfinityHorizontalSlider from "../components/InfinityHorizontalSlider.astro";
import { Icon } from 'astro-icon/components';

---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>Bulgarian Restaurants</title>

<style>
    .latest-body {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 3%;
    }

    .down-category-body{
      /* display: flex;
      margin: 20px auto;
      justify-content: center; */

      display: grid;
grid-template-columns: 1fr 60% auto 1fr;
gap: 50px;

    }

    @media (max-width: 1330px) {
        .latest-body {
            flex-direction: column;
            align-items: center;
        }

        .down-category-body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
</style>

<DefaultLayout>
    <InfinityHorizontalSlider />
    <div class="latest-body">
        <Higlihts />
        <Lastest />
    </div>
    <div class="down-category-body">
        <DownCategoryBox />
        <!-- <NewsLetter/> -->
    </div>
    <OpinionSlider />
    <BlackBar />
    <SEOcontent />
</DefaultLayout>

