---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<style>

.content{
    
}


    </style>

<DefaultLayout>

    <div class="Content">
    <h2>ПОЛИТИКА ЗА ЗАЩИТА НА ЛИЧНИТЕ ДАННИ НА "Гроу Ийзи Медия Груп" ООД</h2>
    Информация за Администратора на лични данни: "Гроу Ийзи Медия Груп" ООД e дружество,
    регистрирано по Търговския закон на Република България, с ЕИК: 206557079, със
    седалище и адрес на управление в гр. София, п.к. 1000, р-н Възраждане, ул. „Пиротска"
    № 9, ет. 4, e-mail: hello@biopedia.bg
    
    <br /><br /> https://biopedia.bg

    <br /><br />Дружеството е представлявано от управителя си **Владислав
    Огнянов Бързаков.
    
    <br /><br />
    <b> Основания и цели, за които използваме Вашите лични данни**</b>
    <br /><br /> Ние обработваме Вашите лични данни на следните основания:

    <ul>
        <li>
            Сключения между нас и Вас договор с цел да изпълним задълженията си
            по него;
        </li>
        <li>
            Изрично съгласие от Вас – целта се посочва за всеки конкретен
            случай;
        </li>
        <li>При предвидено задължение по закон.</li>
    </ul>
    В следващите параграфи ще намерите детайлна информация, относно обработването
    на личните Ви данни в зависимост от законовото основание, на което ги обработваме.
    
    <br /><br /><h2>
        ЗА ИЗПЪЛНЕНИЕ НА ДОГОВОР ИЛИ В КОНТЕКСТА НА ПРЕДДОГОВОРНИ ОТНОШЕНИЯ
    </h2>
    Ние обработваме личните Ви данни, за да изпълняваме договорните и преддоговорните
    задължения и да се ползваме от правата по договорите, сключени с Вас.

    <br /><br /><ul>
        <b>Цели на обработката:</b>
        <li>установяване на самоличността Ви;</li>
        <li>
            управление и изпълнение на Ваша заявка и изпълнение на сключен
            договор;
        </li>
        <li>изготвяне на предложение за сключване на договор;</li>
        <li>
            изготвяне и изпращане на сметка/фактура за услугите, които
            използвате при нас;
        </li>
        <li>
            осигуряване на необходимото Ви цялостно обслужване, както и да
            събираме дължимите суми за ползваните услуги;
        </li>
        <li>
            запазване на кореспонденция във връзка с направени поръчка,
            обработка на заявки, докладване на проблеми и др.
        </li>
        <li>
            уведомление за всичко, свързано с услугите, които ползвате при нас;
        </li>
        <li>
            установим и/или предотвратим незаконосъобразни действия или действия
            в противоречия с нашите условия за съответните услуги;
        </li>
    </ul>
    <h2>Данни, които обработваме на това основание:</h2>
    На основание сключения между нас и Вас договор, обработваме информация за вида
    и съдържанието на договорното отношение, както и всяка друга информация, свързана
    с договорното правоотношение, включително:

    <br /><br /><li>лични данни за контакт – e-mail адрес,</li>
    <li>
        данни за идентификация - две имена, адрес за доставка, електронна поща;
    </li>
    <li>друга обратна връзка, която получаваме от вас;</li>
    <li>информация от действията Ви на сайта ни.</li>

    <br /><br /> Обработката на посочените лични данни за нас се явява задължителна,
    за да можем да сключим договора с Вас и да го изпълняваме. Без да ни предоставите
    горепосочените данни, не бихме могли да изпълняваме задълженията си по договора.

    <h2>Предоставяме лични данни на трети лица</h2>

    Ние предоставяме Ваши лични данни на трети лица, като основната ни цел е да
    Ви предложим качествено, бързо и комплексно обслужване. Не предоставяме Ваши
    лични данни на трети лица, преди да се уверим, че са взети всички технически
    и организационни мерки за защита на тези данни като се стремим да
    осъществяваме строг контрол за изпълнение на тази цел. В този случай ние
    оставаме отговорни за конфиденциалността и сигурността на вашите данни.

    <br /><br /><b
        >Лични данни предоставяме на следните категории получатели
        (администратори на лични данни):</b
    >

    <li>пощенски оператори и куриерски фирми;</li>
    <li>
        лица, които по възлагане поддържат оборудване, софтуер и хардуер,
        използвани за обработка на лични данни и необходими за дейността на
        дружеството
    </li>
    <li>лица, извършващи консултантски услуги в различни сфери.</li>
    <li>Кога изтриваме данните, събрани на това основание</li>
    <li>
        Данните, събрани на това основание изтриваме 5 години след прекратяване
        на договорното отношение, независимо дали поради изтичане срока на
        договора, разваляне или друго основание.
    </li>

    <br /><br /><h2>ЗА ИЗПЪЛНЕНИЕ НА НОРМАТИВНИ ЗАДЪЛЖЕНИЯ</h2>
    Възможно е в закона да е предвидено задължение за нас да обработваме личните
    Ви данни. В тези случаи ние сме длъжни да извършим обработката, като например:
    
    <br /><br />
    <li>
        задължения по Закона за мерките срещу изпиране на пари;
        <li>
            изпълнение на задължения във връзка с продажбата от разстояние,
            продажбата извън търговския обект, предвидени в Закона за защита на
            потребителите;
        </li>
        <li>
            предоставяне на информация на Комисията за защита на потребителите
            или трети лица, предвидени в Закона за защита на потребителите;
        </li>
        <li>
            предоставяне на информация на Комисията за защита на личните данни
            във връзка със задължения, предвидени в нормативната уредба за
            защита на личните данни;
        </li>
        <li>
            задължения, предвидени в Закона за счетоводството и
            Данъчно-осигурителния процесуален кодекс и други свързани нормативни
            актове, във връзка с воденето на законосъобразно счетоводство;
        </li>
        <li>
            предоставяне на информация на съда и трети лица, в рамките на
            производство пред съд, съобразно изискванията на приложимите към
            производството нормативни актове;
        </li>
        <br /><br />
        <b> Кога изтриваме личните данни, събрани на това основание?</b>
        <br /><br /> Данните, събрани съгласно предвидено задължение в закона, изтриваме
        след като задължението за събиране и съхранение бъде изпълнено или отпадне.
        Например:
        
        <br /><br /><li>
            по Закона за счетоводството за съхранение и обработка на счетоводни
            данни (11 години),
        </li>
        <li>
            задължения за предоставяне на информация на съда, компетентни
            държавни органи и др. основания, предвидени в действащото
            законодателство (5 години).
        </li>
        <br /><br /><b> Предоставяне на данни на трети лица</b>
        <br /><br /> Когато по закон за нас е предвидено задължение, е възможно да
        предоставим Вашите лични данни на компетентния държавен орган, физическо
        или юридическо лице.

        <br /><br /><h2>СЛЕД ВАШЕ СЪГЛАСИЕ</h2>
        <br /><br />Ние обработваме Вашите лични данни на това основание само
        след изрично, недвусмислено и доброволно съгласие от Ваша страна. Ние
        няма да предвиждаме каквито и да е неблагоприятни последици за Вас, ако
        откажете обработването на личните данни.

        <br /><br />Съгласието е отделно основание за обработване на личните ви
        данни и целта на обработката е посочена в него, и не се покрива с
        целите, изброени в тази политика. Ако ни дадете съответнотo съгласие и
        до неговото оттегляне или прекратяване на всякакви договорни отношения с
        Вас изготвяме подходящи за вас предложения за продукти/услуги, като
        извършваме детайлни анализи на Ваши основни лични данни;

        <br /><br /> Детайлният анализ е метод за извършване на анализ, който позволява
        обработване на големи по обем данни посредством статистически модели и алгоритми
        и други, които включват използване на лични данни, както и процеси на псевдонимизиране
        и анонимизиране на същите, с цел извличане на информация за тенденции и различни
        статистически показатели.

        <br /><br /><b>Данни, които обработваме на това основание:</b>
        <br /><br /> На това основание обработваме само данните, за които сте ни
        дали изричното си съгласие. Конкретните данни се определят за всеки индивидуален
        случай. Обикновено данните включват:

        <li>Имейл</li>
        <li>Имена</li>

        <br /><br />
        <b>Предоставяне на данни на трети лица</b>
        <br /><br /> На това основание можем да предоставим Вашите данни на маркетинг
        агенции, Фейсбук, Гугъл или други подобни.

        <br /><br />
        <b> Оттегляне на съгласие</b>
        <br /><br />Предоставените съгласия могат да бъдат оттеглени по всяко
        време. Оттеглянето на съгласието няма отражение върху изпълнението на
        договорните задължения. Ако оттеглите съгласието си за обработване на
        лични данни за някой или всички начини, описани по-горе, ние няма да
        използваме личните Ви данни и информация за определените по-горе цели.
        Оттеглянето на съгласието не засяга законосъобразността на
        обработването, основано на дадено съгласие преди неговото оттегляне.
        
        <br /><br />За да оттеглите даденото съгласие е необходимо само да
        използвате сайта ни или просто данните ни за контакт.

        <br /><br />
        <b>Кога изтриваме данните, събрани на това основание</b>
        <br /><br /> Данните, събрани на това основание, изтриваме при искане от
        Ваша страна или 6 месеца след първоначалното им събиране.

        <br /><br /><h2>ОБРАБОТКА НА АНОНИМИЗИРАНИ ДАННИ</h2>
        <br /><br />Ние обработваме Вашите данни за статически цели, това
        означава за анализи, в които резултатите са само обобщаващи и
        следователно данните са анонимни. Идентифицирането на конкретно лице от
        тази информация е невъзможно.

        <br /><br /> Вашите данни могат да бъдат и анонимизирани. Анонимизирането
        представлява алтернатива на изтриването на данните. При анонимизация, всички
        лични разпознаваеми елементи /елементи, позволяващи идентифицирането Ви/,
        се заличават необратимо. За анонимизирани данни няма нормативно задължени
        за изтриване, тъй като не представляват лични данни.
        
        <br /><br />
        <b> Защо и как използваме автоматизирани алгоритми</b>

        <br /><br />За обработването на Вашите лични данни ние използване
        частично автоматизирани алгоритми и методи с цел постоянно подобряване
        на нашите продукти и услуги за адаптиране на продуктите и услугите ни
        към Вашите нужди по най-добрия възможен начин. Този процес се нарича
        профилиране.
        
        <br /><br />
        <b> Как защитаваме Вашите лични данни</b>

        <br /><br /> За осигуряване на адекватна защита на данните на компанията
        и своите клиенти, ние прилагаме всички необходими организационни и технически
        мерки, предвидени в Закона за защита на личните данни.

        <br /><br /> Компанията е установила правила за предотвратяване на злоупотреби
        и пробиви в сигурността.

        <br /><br /> С цел максимална сигурност при обработка, пренос и съхранение
        на Вашите данни, може да използваме допълнителни механизми за защита като
        криптиране, псевдонимизация и др.

        <br /><br />
        <b> Лични данни, които сме получили от 3-ти лица**</b>

        <br /><br /> Възможно е да получаваме лични данни за Вас от други наши потребители.
        
        <br /><br />
        <b> Права на Потребителите</b>

        <br /><br /> Всеки Потребител на сайта се ползва с всички права за защита
        на личните данни съгласно българското законодателство и правото на Европейския
        съюз.

        <br /><br />Потребителят може да упражни правата си чрез формата за
        контакт или чрез изпращане на съобщение до имейла ни.

        <br /><br />
        <b> Всеки Потребител има право на:</b>

        <br /><br /><li>
            Информираност (във връзка с обработването на личните му данни от
            администратора);
        </li>
        <li>Достъп до собствените си лични данни;</li>
        <li>Коригиране (ако данните са неточни);</li>
        <li>Изтриване на личните данни (право „да бъдеш забравен");</li>
        <li>
            Ограничаване на обработването от страна на администратора или
            обработващия лични данни;
        </li>
        <li>Преносимост на личните данни между отделните администратори;</li>
        <li>Възражение спрямо обработването на негови лични данни;</li>
        <li>
            Субектът на данни има право и да не бъде обект на решение,
            основаващо се единствено на автоматизирано обработване, включващо
            профилиране, което поражда правни последствия за субекта на данните
            или по подобен начин го засяга в значителна степен;
        </li>
        <li>
            Право на защита по съдебен или административен ред, в случай, че
            правата на субекта на данни са били нарушени.
        </li>

        <br /><br />
        <b>
            Потребителят може да поиска изтриване, ако е налице едно от следните
            условия:</b
        >

        <br /><br />
        <li>
            Личните данни повече не са необходими за целите, за които са били
            събрани или обработвани по друг начин;
        </li>
        <li>
            Потребителят оттегля своето съгласие, върху което се основава
            обработването на данните и няма друго правно основание за
            обработването;
        </li>
        <li>
            Потребителят данните възразява срещу обработването и няма законни
            основания за обработването, които да имат преимущество;
        </li>
        <li>Личните данни са били обработвани незаконосъобразно;</li>
        <li>
            Личните данни трябва да бъдат изтрити с цел спазването на правно
            задължение по правото на Съюза или правото на държава членка, което
            се прилага спрямо администратора;
        </li>
        <li>
            Личните данни са били събрани във връзка с предлагането на услуги на
            информационното общество на деца и съгласието е дадено от носещия
            родителска отговорност за детето.
        </li>

        <br /><br /> Потребителят има право да ограничи обработването на своите лични
        данни от страна на администратора, когато:

        <li>
            Оспори точността на личните данни.. В този случай ограничаването на
            обработването е за срок, който позволява на администратора да
            провери точността на личните данни;
        </li>
        <li>
            Обработването е неправомерно, но Потребителят не желае личните данни
            да бъдат изтрити, а изисква вместо това ограничаване на използването
            им;
        </li>
        <li>
            Администраторът не се нуждае повече от личните данни за целите на
            обработването, но Потребителят ги изисква за установяването,
            упражняването или защитата на правни претенции;
        </li>
        <li>
            възразява срещу обработването в очакване на проверка дали законните
            основания на администратора имат преимущество пред интересите на
            Потребителя.
        </li>

        <br /><br />
        <b> Право на преносимост.</b>
        <br /><br />Субектът на данните има право да получи личните данни, които
        го засягат и които той е предоставил на администратор, в структуриран,
        широко използван и пригоден за машинно четене формат и има правото да
        прехвърли тези данни на друг администратор без възпрепятстване от
        администратора, на когото личните данни са предоставени, когато
        обработването е основано на съгласие или на договорно задължение и
        обработването се извършва по автоматизиран начин. Когато упражнява
        правото си на преносимост на данните, субектът на данните има право да
        получи и пряко прехвърляне на личните данни от един администратор към
        друг, когато това е технически осъществимо.

        <br /><br />
        <b> Право на възражение. </b>
        <br /><br /> Потребителите имат право да възразят пред администратора срещу
        обработването на личните им данни. Администраторът на лични данни е длъжен
        да прекрати обработването, освен ако не докаже, че съществуват убедителни
        законови основания за обработването, които имат предимство пред интересите,
        правата и свободите на субекта на данни, или за установяването, упражняването
        или защитата на правни претенции. При възразяване срещу обработването на
        лични данни за целите на директния маркетинг обработването следва да се прекрати
        незабавно.
        
        <br /><br />
        <b> Жалба до надзорния орган </b>
        <br /><br /> Всеки Потребител има право да подаде жалба срещу незаконосъобразно
        обработване на личните му данни до Комисия за защита на личните данни или
        до компетентния съд.

        <br /><br />
        <b> Поддържане на регистър </b>
        <br /><br /> Ние поддържаме регистър на дейностите по обработване, за които
        отговаряме. Този регистър съдържа цялата по-долу посочена информация:
        
        <li>името и координатите за връзка на администратора</li>
        <li>целите на обработването;</li>
        <li>
            описание на категориите субекти на данни и на категориите лични
            данни;
        </li>
        <li>
            категориите получатели, пред които са или ще бъдат разкрити личните
            данни,
        </li>
        <li>
            включително получателите в трети държави или международни
            организации;
        </li>
        <li>
            когато е възможно, предвидените срокове за изтриване на различните
            категории данни;
        </li>
        <li>
            когато е възможно, общо описание на техническите и организационни
            мерки за сигурност,
        </li>
        <br /><br />
        <b>
            Настоящата Политика за защита на личните данни е приета и утвърдена
            на 17.09.2021 г. от "Гроу Ийзи Медия Груп" ООД.</b
        >

        __

        <br /><br />
        <b> Владислав Огнянов Бързаков</b>
        <br /><br />
        <b> Управител на "Гроу Ийзи Медия Груп" ООД</b>
    </div>

    </li></DefaultLayout>
