---

---


    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .category-bar {
            background-color: #7c5614;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 50px;
            color: #fff;
        }

        .category-button {
            text-decoration: none;
            color: #000000;
            padding: 10px;
            transition: background-color 0.3s;
        }

        .category-button:hover {
            background-color: #555;
        }
    </style>
 

<div class="category-bar">
    <a href="#" class="category-button">Category 1</a>
    <a href="#" class="category-button">Category 2</a>
    <a href="#" class="category-button">Category 3</a>
    <a href="#" class="category-button">Category 4</a>
</div>



