---
import { Image } from "astro:assets";

import { categoryList } from "../quearies/category.js";
---



<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .category-bar {
        background-color: #1F0D07;
        display: flex;
        justify-content: space-around;
        align-items:center;
        height: 50px;
        color: #fff;
    }

    .category-button {
        color: #eeeeee;
        padding: 80px;               /Moving/ 
       
    }

    /* .category-button:hover {
        background-color: #555;
        border-radius: 9%;
        
    } */

    .category-button:hover {
  font-size: 1.1em; /* Промяна на размера на шрифта */
}
</style>

<div class="category-bar">
    <div class="nav">
        {
            categoryList.categories.data.map(({attributes}) => {
              return(
    <a class="category-button" href={`/categories/${attributes.slug}`}>{attributes.name}</a>
    )
            })
        }
      </div>
      
</div>
