---
import { Image } from "astro:assets";
import { categoryList } from "../quearies/category.js";
---

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .category-bar {
        background-color: #8F2607;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        color: #fff;

    }
    
    .category-button {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        overflow: hidden;
    }

    .category-button:hover {
        background-color: #555;
        border-radius: 9%;
        font-size: 1.1em; Промяна на размера на шрифта
    }

    @media (max-width: 1000px) {
        .category-bar {
            flex-direction: row;
          height:70px;
          display: flex;
        justify-content: :left;
        align-items: :left;
        color: #fff;
        }
    }

</style>

<div class="category-bar">
    <div class="nav">
        {
            categoryList.categories.data.map(({ attributes }) => {
                return (
                    <a
                        class="category-button"
                        href={`/categories/${attributes.slug}`}
                    >
                        {attributes.name}
                    </a>
                );
            })
        }
    </div>
</div>
