---
import SingleArticle from "../components/SingleArticle.astro";
import { articlesList } from "../quearies/articles.js";
import CategoryArticlesPosts from "../components/DownCategoryBoxPosts.astro";
import NewsLetter from "./NewsLetter.astro";

const categoryData = Astro.props;
---

<style>
    .grid-wrap {
        display: flex;
        margin: 20px auto 0 auto;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
        border: 20px solid #f8daa6;
        border-radius: 10px;
        background-color: #f8daa6;
    }
    .category-name {
        border-bottom: 3px solid #8f2607;
    }
    .wrap-category {
        padding: 5px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 470px;
    }

    .bigline {
        width: 100%;
        color: black;
        border-bottom: solid 3px #b1a8a8;
        /* padding: 1%; */
        color: #9ca5b4;
        font-weight: bolder;
        margin-bottom: 5%;
    }

    .ad {
        height: 50px;
        padding: 10px;
        border: 2px solid black;
        border-radius: 10px;
        background-color:#f8daa6 ;
        text-align: center;
        justify-content: left;
        margin: 5% auto;

    }

    .lines-container {
        width: 100%; /* Ширина на контейнера */
        margin-top: 3%; /* Отстояние от горната част */
        grid-area: 1 / 1 / 2 / 5;
    }

    .line {
        border-bottom: 3px solid #8f2607;
        width: 30%; /* Ширина на всяка линия */
        padding: 1%;
        /* margin-right: 5%; */
    }

    @media (max-width: 1000px) {
        .grid-wrap {
            display: flex;
            flex-direction: column;

            align-items: center;
        }
    }

    .container {
        grid-area: 1 / 2 / 2 / 3;
        margin: 70px, 0px, 40px, 20px;
    }

    .view-all-category {
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: grey;
            color: rgb(228, 228, 228);
            text-align: center;
            text-decoration: none;
            font-size: 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .button:hover {
            background-color: #8f2607;
            border-radius: 5px;
            /* font-size: 1.0em; Промяна на размера на шрифта */
        }
    }
</style>

<!-- <div class="lines-container">
    <div class="line"></div>
    <div class="line"></div>
</div> -->

<NewsLetter />
<div class="container">
    <!-- <div class="bigline"></div> -->
    <div class="ad">
        <p>Реклама</p>
        <!-- grid-area: 1 / 3 / 2 / 4; -->
    </div>
    <div class="grid-wrap">
        <div>
            <div class="category-name">
                <p>Ресторанти</p>
            </div>
            <div class="wrap-category">
                <CategoryArticlesPosts articlesCount={3} categoryId="1" />
            </div>

            <div class="view-all-category">
                <a
                    href="http://localhost:4322/categories/restoranti"
                    class="button">Виж всички</a
                >
            </div>
        </div>
        <div>
            <div class="category-name">
                <p>Кухня/Рецепти</p>
            </div>
            <div class="wrap-category">
                <CategoryArticlesPosts articlesCount={3} categoryId="2" />
            </div>
            <div class="view-all-category">
                <a
                    href="http://localhost:4322/categories/kuhnya-recepti"
                    class="button">Виж всички</a
                >
            </div>
        </div>
    </div>
</div>
