---
import { Image } from "astro:assets";
import bgrest from "../images/bgrest.svg";
---

<header>
  <div class="logo">
    <Image src={bgrest} alt="logo" width="374" height="68" ; />
    <nav>
      <slot />
    </nav>
  </div>

  <style>
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: #F5EEE2;
    }

    .logo img {
      max-width: 100px; /* Set the max width for your logo */
    }

    nav ul {
      list-style-type: none;
      display: flex;
    }

    nav li {
      margin-right: 15px;
    }

    nav a {
      text-decoration: none;
      color: #ffffff;
    }
  </style>
</header>
