---
import { Image } from "astro:assets";
import bgrestaurants from "../images/bgrestaurants.svg";
---

<header>
  <div class="logo">
    <a href="/" >
      <Image src={bgrestaurants} alt="logo" width="374" height="68" ; />
    </a>
    <nav>
      <slot />
    </nav>
  </div>

  <style>
    header {
      display: flex;
      padding: 20px;
background-color: #F5EEE2;
     
      
    }

    .logo img {
      max-width: 100px; 
      margin-left:13%; 
    }

    @media screen ( max-width: 1216px){

    }

  </style>
</header>
