---
import SingleArticle from "../components/SingleArticle.astro";
import { articlesList } from "../quearies/articles";
let counter = 0;
---

<style>
    .article-higlithts {
        /* width: 10%; */
        display: grid;
        width: 900px;
        height: 800px;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(3, auto);
        /* margin-left: 13%; */
        justify-items: center;
        gap: 8px;
    }



    .higliht {
        margin-top: 20px;
        /* display: flex; */
        /* margin-right: 10%; */
    }

    .line {
        border-bottom: solid 3px black;
        margin-bottom: 3%;
        padding: 1%;
    }
</style>


<div class="higliht">
    <div>
        <div class="line">
            <p>Акценти</p>
        </div>
    </div>
    <div class="article-higlithts">
        {
            articlesList.posts.data.map((item) => {
                if (counter < 6) {
                    counter++;
                    return (
                        <div class="article-item">
                            <SingleArticle
                                url={item.attributes.slug}
                                image={item.attributes.image}
                                name={item.attributes.name}
                            />
                        </div>
                    );
                }
            })
        }
    </div>
</div>
