---
import { Image } from "astro:assets";

const { url, image, name, category } = Astro.props;
---

<style>
    a {
        position: relative;
    }

    h2 {
        z-index: 4;
        position: absolute;
        bottom: 0;
        
        color: white;
     margin: 0% auto 5% 5%;
     
    }

    p {
        display: flex;
        flex-direction: row;
        z-index: 4;
        position: absolute;
        bottom: 0;
        color: white;
        margin: 5% auto 15% 5%;
         
    }

    .image-wrapper {
        width: 100%;
        height: auto;
        border-radius: 10%;
        overflow: hidden;
    }

    img {
        border-radius: 7%;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .blur {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.6519782913165266) 22%,
            rgba(255, 255, 255, 0) 100%
        );
        background-size: cover;
        border-radius: 20px;
    }

    .name-category {
        display: flex;
        flex-direction: column;
    }
</style>

<a href={`/blog/${url}`}>
    <div style="position: relative;">
        <div class="blur"></div>
        <div class="image-wrapper">
            <Image
                src={image.data.attributes.url}
                alt={image.data.attributes.alternativeText || "Ресторанти"}
                width="200"
                height="200"
            />
        </div>
    </div>
    <div class="name-category">
        <h2>{name}</h2>

            <!-- {
                category.map((item) => {
                    console.log(item);
                    return <p>{item.attributes.name}</p>;
                    // return 1;
                })
            } -->

    </div>
</a>
